include ../common.pug

mixin section(name, text, icon)
  if locals[name]
    .div(class=name)
      h2
        i(class=icon)
        span=text
      block

mixin dates(item)
  if item
    if item.until
      .dates=`${item.from} to ${item.until}`
    else
      .dates=`Since ${item.from}`

doctype html
html(lang='en')
  block head
    head
      title=profile.name
      block css
        style
          include theme.css
      block icons
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt' crossorigin='anonymous')
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    block profile
      .profile
        h1=profile.name
        +attribute(profile, 'label')

        .details
          +attribute(profile, 'email')
            i.fa.fa-envelope
            a(href=`mailto:${profile.email}`)=profile.email
          +attribute(profile, 'website')
            i.fa.fa-globe
            a(href=profile.website)=profile.website
          +attribute(profile, 'location')
            i.fa.fa-home
            span=profile.location

        if social
          .social
            each item in social
              if item
                +network(item, 'facebook')
                  i.fab.fa-facebook
                +network(item, 'github')
                  i.fab.fa-github
                +network(item, 'instagram')
                  i.fab.fa-instagram
                +network(item, 'linkedin')
                  i.fab.fa-linkedin

        if profile.summary
          hr
          +summary
          hr

    block work
      +section('work', 'Work History', 'fa fa-suitcase')
        each item in work
          if item
            .item
              +dates(item)
              +url(item, 'company')
              +attribute(item, 'position', 'Position: ')
              +attribute(item, 'summary')
              if item.highlights
                ul.highlights
                  each highlight in item.highlights
                    li.highlight=highlight

    block education
      +section('education', 'Education', 'fa fa-graduation-cap')
        each item in education
          if item
            .item
              +dates(item)
              +url(item, 'institution')
              +attribute(item, 'area')
              +attribute(item, 'degree', 'Degree: ')

    block awards
      +section('awards', 'Awards', 'fa fa-medal')
        each item in awards
          if item
            .item
              +attribute(item, 'date')
              +url(item, 'name')
              +attribute(item, 'awarder', 'Awarded by: ')
              +attribute(item, 'summary')

    block publications
      +section('publications', 'Publications', 'fa fa-pen-fancy')
        each item in publications
          if item
            .item
              +attribute(item, 'date')
              +url(item, 'title')
              +attribute(item, 'summary')

    block skills
      +section('skills', 'Skills', 'fa fa-toolbox')
        each item in skills
          if item
            .item
              +attribute(item, 'name')
              +attribute(item, 'level')
              if item.keywords
                ul.keywords
                  each word in item.keywords
                    li=word

    block languages
      +section('languages', 'Languages', 'fa fa-comments')
        ul
          each item in languages
            if item
              li
                +attribute(item, 'name')
                +attribute(item, 'level')
