include ../common.pug
include text.pug

mixin section(name, text, icon)
  if locals[name]
    div(class=name)
      h2
        i(class=icon)
        span=text
      block

mixin dates(item)
  if item
    if item.until
      .dates=`${item.from} ${text.to} ${item.until}`
    else
      .dates=`${text.since} ${item.from}`

doctype html
html(lang=language)
  block head
    head
      title=profile.name
      block css
        style
          include theme.css
      block icons
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt' crossorigin='anonymous')
      block charset
        meta(charset='utf-8')
      block viewport
        meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    block profile
      .profile
        h1=profile.name
        +attribute(profile, 'label')

        .details
          +attribute(profile, 'email')
            i.fa.fa-envelope
            a(href=`mailto:${profile.email}`)=profile.email
          +attribute(profile, 'website')
            i.fa.fa-globe
            a(href=profile.website)=profile.website
          +attribute(profile, 'location')
            i.fa.fa-home
            span=profile.location

        if social
          .social
            each item in social
              if item
                +network(item, 'facebook')
                  i.fab.fa-facebook
                +network(item, 'github')
                  i.fab.fa-github
                +network(item, 'instagram')
                  i.fab.fa-instagram
                +network(item, 'linkedin')
                  i.fab.fa-linkedin

        if profile.summary
          hr
          +summary
          hr

    //- Iterate sections to to maintain the original order of the YAML
    each section in sections

      if section == 'work'
        block work
          +section(section, text.work, 'fa fa-suitcase')
            each item in work
              if item
                .item
                  +dates(item)
                  +url(item, 'company')
                  +attribute(item, 'position', 'Position: ')
                  +attribute(item, 'summary')
                  if item.highlights
                    ul.highlights
                      each highlight in item.highlights
                        li.highlight=highlight

      if section ==  'education'
        block education
          +section(section, text.education, 'fa fa-graduation-cap')
            each item in education
              if item
                .item
                  +dates(item)
                  +url(item, 'institution')
                  +attribute(item, 'area')
                  +attribute(item, 'degree', 'Degree: ')

      if section ==  'awards'
        block awards
          +section(section, text.awards, 'fa fa-medal')
            each item in awards
              if item
                .item
                  +attribute(item, 'date')
                  +url(item, 'name')
                  +attribute(item, 'awarder', 'Awarded by: ')
                  +attribute(item, 'summary')

      if section ==  'publications'
        block publications
          +section(section, text.publications, 'fa fa-pen-fancy')
            each item in publications
              if item
                .item
                  +attribute(item, 'date')
                  +url(item, 'title')
                  +attribute(item, 'summary')

      if section ==  'skills'
        block skills
          +section(section, text.skills, 'fa fa-toolbox')
            each item in skills
              if item
                .item
                  +attribute(item, 'name')
                  +attribute(item, 'level')
                  if item.keywords
                    ul.keywords
                      each word in item.keywords
                        li=word

      if section ==  'languages'
        block languages
          +section(section, text.languages, 'fa fa-comments')
            ul
              each item in languages
                if item
                  li
                    +attribute(item, 'name')
                    +attribute(item, 'level')
